.card-deck-wrapper .card {
    padding-bottom: 50px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.group-idea {
    font-size: 1.5rem;
}

.looking-for {
    background-color: rgba(135, 181, 0, 1.00);
}

.not-looking {
    background-color: RGBA(220, 83, 73, 1.00);
}


