<% include ./partials/header %>
<% if ( user ) { %>

<div class="container mt-2">
    <div class="jumbotron">
        <h3 class="display-4">Hello, <span class="font-weight-bold text-capitalize"><%= user.first_name %>!</span></h3>
        <p class="lead">Welcome to MTA Hack Matching Platform.</p>
        <hr class="my-4">
        <p>What do you want to do?</p>
        <p class="lead">
            <button type="button" class="btn btn-primary btn-lg btn-block"
                    onclick="location.href = '/<% if (user.isMember && user.email !== team.admin_email){ %>myTeam<% }else if (user.isMember) { %>updateTeam <% }else{ %>createTeam<% } %>';">
                <% if (user.isMember && user.email !== team.admin_email){ %>
                My Team
                <% }else if (user.isMember) { %>
                Update Your Team
                <% }else{ %>
                Create A Team
                <% } %>
            </button>
            <button type="button" class="btn btn-warning btn-lg btn-block" onclick="location.href = '/mingle';">
                <% if (user.isMember) { %>
                Other Teams
                <% }else{ %>
                Join A Team
                <% } %>
            </button>
        </p>
    </div>
</div>

<% } else { %>

<div class="container mt-2">
    <h5 class="display-4 text-xs-center font-weight-bold">Please Sign In</h5>
    <form role="form" action="/login" method="post">
        <hr class="colorgraph">
        <div class="form-group">
            <label for="username">Email address</label>
            <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            <a href="/forgot"><p class="form-text text-muted">Forgot password?</p></a>
        </div>
        <hr class="colorgraph">
        <div class="row">
            <div class="col-lg-6 mb-1">
                <input type="submit" class="btn btn-lg btn-success btn-block" value="Sign In">
            </div>
            <div class="col-lg-6 mb-1">
                <a href="/register" class="btn btn-lg btn-primary btn-block">Register</a>
            </div>
        </div>
    </form>
</div>

<% } %>
<% include ./partials/footer %>