<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="./../../public/assets/css/mingle.css">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <meta charset="UTF-8">
    <title>MTA Hack 2017 Registration</title>

</head>
<!-- Top menu -->
<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" href="/">MTA Hack 2017<span style="font-weight: bold"> Update your team</span></a>
    <ul class="nav navbar-nav float-xs-right">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/updateTeam">My Team</a></li>
        <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
</nav>

<body>
<!--<div class="container team-data mt-1">-->
<!--<div class="form-group">-->
<!--<label for="teamNameNotEdit">Team Name: </label>-->
<!--<input disabled type="text" class="form-control" value="The guys!" id="teamNameNotEdit"-->
<!--aria-describedby="teamNameHelp">-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<div class="form-group">-->
<!--<label for="teamIdea">Idea: </label>-->
<!--<textarea disabled rows="4" type="text" class="form-control" id="teamIdeaNotEdit"-->
<!--aria-describedby="teamIdeaHelp">This is our idea!</textarea>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<div class="form-group">-->
<!--<label for="whatLoookingForNotEdit">What are we looking for: </label>-->
<!--<textarea disabled rows="4" type="text" class="form-control" id="whatLoookingForNotEdit"-->
<!--aria-describedby="whatLoookingForHelp">We are looking for awesome people!</textarea>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group row">-->
<!--<label class="col-lg-4">Are you looking for team members?</label>-->
<!--<div class="form-check">-->
<!--<label class="form-check-label">-->
<!--<input disabled class="form-check-input" checked type="checkbox">-->
<!--</label>-->
<!--<small>You have opened the option for matching other members to join your team.</small>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="form-group col-lg-6">-->
<!--<label for="howManyPCNotEdit">How many computers do you need?</label>-->
<!--<select disabled class="form-control" id="howManyPCNotEdit">-->
<!--<option>1</option>-->
<!--<option>2</option>-->
<!--<option selected>3</option>-->
<!--<option>4</option>-->
<!--</select>-->
<!--</div>-->
<!--<div class="form-group col-lg-6">-->
<!--<label for="howManyHackathonNotEdit">How many team members participated in a Hackathon before?</label>-->
<!--<select disabled class="form-control" id="howManyHackathonNotEdit">-->
<!--<option>1</option>-->
<!--<option>2</option>-->
<!--<option>3</option>-->
<!--<option>4</option>-->
<!--</select>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-lg-6">-->
<!--<h5>Team Members</h5>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"><span>smangam@gmail.com</span></li>-->
<!--<li class="list-group-item"><span>smangam@gmail.com</span></li>-->
<!--<li class="list-group-item"><span>smangam@gmail.com</span></li>-->
<!--<li class="list-group-item"><span>smangam@gmail.com</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-lg-6">-->
<!--<h5>Waiting For Approval</h5>-->
<!--<ul class="list-group">-->
<!--<li class="list-group-item"><span>adi22690@gmail.com</span></li>-->
<!--<li class="list-group-item"><span>adi22690@gmail.com</span></li>-->
<!--<li class="list-group-item"><span>adi22690@gmail.com</span></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--<button id="editGroupBtn" class="float-xs-right mt-1 btn btn-warning btn-lg">Edit Group</button>-->
<!--</div>-->

<div class="container team-data-edit mt-1">
    <form>
        <div class="form-group">
            <label for="teamName">Team Name: </label>
            <input type="text" class="form-control" value="The guys!" id="teamName" aria-describedby="teamNameHelp">
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="teamIdea">Idea: </label>
                    <textarea rows="3" type="text" class="form-control" id="teamIdea"
                              aria-describedby="teamIdeaHelp">This is our idea!</textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="whatLoookingFor">What are we looking for: </label>
                    <textarea rows="3" type="text" class="form-control" id="whatLoookingFor"
                              aria-describedby="whatLoookingForHelp">We are looking for awesome people!</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-lg-6">
                <label for="lookingForTeamMembers">Are you looking for team members?</label>
                <select class="form-control" id="lookingForTeamMembers">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </div>
            <div class="form-group col-lg-6">
                <label for="howManyPC">How many computers do you need?</label>
                <select class="form-control" id="howManyPC">
                    <option>1</option>
                    <option>2</option>
                    <option selected>3</option>
                    <option>4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="howManyHackathon">How many participated in a Hackathon before?</label>
            <select class="form-control" id="howManyHackathon">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5>Team Members</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>smangam@gmail.com</span>
                        <button type="button" class="float-xs-right btn btn-danger btn-sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="list-group-item">
                        <span>smangam@gmail.com</span>
                        <button type="button" class="float-xs-right btn btn-danger btn-sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="list-group-item">
                        <span>smangam@gmail.com</span>
                        <button type="button" class="float-xs-right btn btn-danger btn-sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </li>
                    <li class="list-group-item">
                        <span>smangam@gmail.com</span>
                        <button type="button" class="float-xs-right btn btn-danger btn-sm">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </li>
                    <button type="button" id="searchTeamMembers"
                            class="text-xs-center list-group-item list-group-item-action list-group-item-info">
                        Add Team Members (4/5)
                    </button>
                </ul>
            </div>
            <div class="col-lg-6">
                <h5>Waiting For Approval</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span>adi22690@gmail.com</span>
                        <div class="float-xs-right">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span>adi22690@gmail.com</span>
                        <div class="float-xs-right">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <span>adi22690@gmail.com</span>
                        <div class="float-xs-right">
                            <button type="button" class="btn btn-primary btn-sm">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
        </div>
        <div class="float-xs-right mt-1 mb-1">
            <button id="updateGroupBtn" type="submit" class="btn btn-primary btn-lg">Update Group</button>
            <button id="cancelEditBtn" class="btn btn-danger btn-lg">Cancel Edit</button>
        </div>
    </form>
</div>

<div id="searchDialogForm" class="search-users-dialog-form" title="Search for users">
    <form>
        <div class="form-group">
            <label for="emailInput">Enter User's Email Address</label>
            <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
                   placeholder="Enter email">
        </div>
    </form>
    <div class="memberResults">
        <ul class="list-group"></ul>
    </div>

</div>


</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
        integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js"
        integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
        integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
        crossorigin="anonymous"></script>
<script
        src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
<script src="./../../public/assets/js/updateTeam.js"></script>
</html>